@media screen and (max-width: 1400px) {
    .logo {
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 200px;
    }

    .navbar-nav > li {
        font-size: 15px;;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 125px;
    }
}



