@media screen and (max-width: 1400px) {
    .logo {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .contact-us {
        font-size: x-small;
    }

    .contact-us h6 {
        font-size: 11px;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 200px;
    }

    .navbar-nav > li {
        font-size: 15px;;
    }

    .footer-nav {
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 125px;
    }

    .contact-us {
        font-size: xx-small;
    }
}



