@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* For the footer to stick at the end of the page no matter what */
html {
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #0e0701;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #6b89ad;
}


/* NAVBAR */
.navbar {
    padding: 0;
    flex-wrap: wrap;
}


/* FOOTER */
.footer-container {
    margin-top: auto;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 5rem 0.5rem 5rem;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.contact-us {
    display: flex;
    justify-content: center;
}

.web-accounts {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 2rem;
}

.footer-nav li img {
    height: 40px;
}

.footer-nav li img:hover {
    height: 45px;
}


/* HOME PAGE - MAIN CONTENT */
.top-content {
    align-items: center;
    margin: 1.5rem;
    background-color: #fff3cf;
}

.side-text {
    padding: 4rem;
}
  
.bottom-content {
    background-color: #fff3cf;
}

.goals-card {
    justify-content: center;
}


/* BREADCRUMB */
.breadcrumb-item a{
    color: var(--bs-secondary) !important;
}

.breadcrumb-item.active {
    color: var(--bs-secondary-text-emphasis) !important;
}


/* NATIONAL PARK PAGE */
.filter-parks {
    padding: 20px 12px;
    background-color: #fff3cf;
    max-height: 90vh;
}

#selectParkName {
    font-size: 14px;
}

.checkbox-location-types {
    padding: 5px 20px;
}

.checkbox-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-parks {
    padding: 1rem 2rem 1rem 2rem;
}

.accordion {
    margin-top: 2rem;
}


/* FOR BOTH PARKS AND MOUNTAINS PAGE */
.main-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}

.content-container {
    margin-bottom: 3rem;
}

.divider {
    flex-wrap: nowrap;
    align-items: center;
}

.divider hr {
    width: 35%;
    margin: .75rem auto .75rem auto;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button-section {
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
}

.display-parks-content p,
.display-mountains-content p{
    margin-bottom: 2px;
    margin-left: 5px;
}

.display-parks-content h4,
.display-mountains-content h4{
    color: #99a462;
}

.hrJS {
    width: 100%;
}


/* FOR EASY SCROLL UP */
.arrow-icon {
    cursor: pointer;
    height: 5rem;
    display: none; 
    position: fixed; /* Fixed/sticky position */
    bottom: 140px; /* Place the button at the bottom of the page */
    left: 95vw;
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; 
    padding: 15px; 
}

.img {
    content: url(images/arrow.png);
    
}


/* MOUNTAINS PAGE */
.filter-mountains {
    padding: 20px 12px;
    background-color: #fff3cf;
    max-height: 60vh;
}

.elevation-section {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.elevation-min-max {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.elevation-min-max .form-group{
    display: flex;
    align-items: center;
    column-gap: .40rem;
}

.time-section {
    margin: .75rem auto .25rem auto;
    padding: 1rem;
}


.display-mountains {
    padding: 1rem 1rem 1rem 2rem;
}

.square img {
    float: right;
    margin: 5px;
    height: 20vh;
}

.square p {
    text-align: justify;
}