@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* For the footer to stick at the end of the page no matter what */
html {
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #0e0701;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* NAVBAR */
.navbar {
    padding: 0;
    flex-wrap: wrap;
}


/* FOOTER */
.footer-container {
    margin-top: auto;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 5rem 0.5rem 5rem;
    justify-content: center;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
}

.contact-us {
    display: flex;
    justify-content: center;
}

.web-accounts {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 2rem;
}

.footer-nav li img {
    height: 40px;
}

.footer-nav li img:hover {
    height: 45px;
}


/* HOME PAGE - MAIN CONTENT */
.top-content {
    align-items: center;
    margin: 2rem;
    background-color: #fff3cf;
}

.side-text {
    padding: 4rem;
}

.bottom-content {
    background-color: #fff3cf;
}

